.App {

 display:flex;
 gap:100px;


}
nav a {
  text-decoration: none;
  font-size: 30px;
  color:  #A4B8D3;
  font-weight: 600;
  margin-bottom: 20px;
  padding:"10px"
}
nav a.active{
  text-decoration: none;
  font-size: 30px;
  color:  #004FB4;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
